<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header"><strong>Navigation</strong></li>
        <!-- Optionally, you can add icons to the links -->
      <li class="active"><a href="/homes"><i class='glyphicon glyphicon-th-large'></i> <span>Dashboard</span></a></li>
      <li class="treeview">
        <a href="#"><i class='glyphicon glyphicon-tower'></i> <span>Projects</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="/projects"><i class="glyphicon glyphicon-list"></i>Projects List</a></li>
          <li><a href="/projects/new"><i class="glyphicon glyphicon-plus-sign"></i>Add New Project</a></li>
        </ul>
      </li>
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
